$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;
$xlarge-screen: 1280px;
$xxlarge-screen: 1536px;

$breakpoints: (
  'small': (min-width: 640px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
  'xlarge': (min-width: 1280px),
  'xxlarge': (min-width: 1536px)
) !default;

@mixin res($breakpoint) {
  @if map-has-key($breakpoints , $breakpoint ) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
};